
* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background: #f8efea;
    margin: 0;
}

.options-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 150px);
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 20px
}

.grid-btn {
    width: 150px;
    height: 150px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
}

.selected {
    background-color: #3498db !important;
    color: #fff;
}

.line {
    height: 1px;
    width: 565.184px;
    background-color: #000;

}

.submit-buttons{
    display: flex;
    justify-content: center;
}

.mascot {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
