* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #f8efea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-control {
    text-align: center;
    margin: 3rem 0;
}

.form-control label {
    margin-right: 1rem;
    margin-left: 1rem;
}

.submit-buttons {
    display: block;
    text-align: center;
}


.name {
    text-align: center;
    margin-bottom: 10px;
}

.description {
    text-align: center;
}

.slidecontainer {
    display: block;
    align-items: center;
}

.slider {
    width: 20%;
}

#distanceValue {
    padding-left: 10px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.line {
    height: 1px;
    width: 565.184px;
    background-color: #000;

}

.mascot {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}



